@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #031e23;
    text-align: left;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    width: 100%;
    height: 100vh;
    padding: 0;
    min-height: 100%;
    background: #ecf0f4;
    overflow-y: scroll;
    overflow-x: hidden;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    padding: 0 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.nav-heading {
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
}

.nav-link::before {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #000;
    margin-bottom: 5px;
    transition: all 0.3s ease;

    bottom: -5px;
    left: 0;
}

.nav-link:hover::before {
    width: 100%;
}



#snackbar {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translateX(-105%);
    transition: all 0.3s ease;
    display: flex;
    justify-content: start;
    align-items: center;
    /* transform: translateX(0); */
}

#snackbar.snackbar-show {
    transform: translateX(0);
}

#snackbar-text {
    font-family: sans-serif;
    margin: 0;
    text-transform: capitalize;
}